body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #444;
    font-family: 'Noto Sans', sans-serif;
    background-image: url("thunder.jpg");
    background-size: cover;
    

}
.card{
    text-align: center;
    background: black;
    color: white;
    padding: 2em;
    border-radius :40px;;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}
button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    cursor: pointer;
}
.search-bar{
    border: none;
    outline: none;
    padding: 0.8em;
    border-radius:18%;
    background: #444;
    color: aliceblue;

}
button:hover{
    background: rgb(145, 145, 234);
}
